#mg {
  margin: 300px;
  font-family: "微软雅黑";
}
.glyphicon-triangle-bottom {
  transition-duration: 1s,1s,1s,1s,1s,1s;
}
.glyphicon-triangle-bottom:hover {
  transform: rotate(180deg);
}
.sr-sx {
  width: 250px;
  height: 80px;
  font-size: 48px;
}
.ui-ss {
  width: 80px;
  height: 80px;
  background: #f0ad4e;
  border: none;
  color: #fff;
  margin: 10px;
  font-family: "微软雅黑";
  transition-duration: 1s,1s,1s,1s,1s,1s;
}
.ui-ss:hover {
  transform: rotate(360deg);
}
.c1 {
  background: #255625;
}
.c2 {
  background: #5cb85c;
}
.c3 {
  background: #5bc0de;
}
.c4 {
  background: #d9534f;
}
.top-h2 {
  width: 450px;
  text-align: center;
}
